@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/** Transition */
.overlay-top {
 z-index: 999;
 /* background: #4b6cb7 !important; */
 /* fallback for old browsers */
 background: -webkit-linear-gradient(to right, #182848, #4b6cb7) !important;
 /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to right, #182848, #4b6cb7) !important;
 /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.overlay-right {
 z-index: 999;
}

.overlay-bottom {
 z-index: 999;
}

.overlay-left {
 z-index: 999;
}

* {
 font-family: 'Rubik', sans-serif;
}

.navbar-fixed {
 position: fixed;
 top: 0;
 left: 0;
 z-index: 5;
 background: rgba(233, 233, 233, 0.3);
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(3px);
 -webkit-backdrop-filter: blur(3px);
 border-bottom: 1px solid rgba(255, 255, 255, 0.3);
 padding: 1rem 4rem;
}

.cursor-pointer {
 cursor: pointer;
}

input[type="file"] {
 display: none !important;
}

body {
 background-color: rgb(245, 245, 245) !important;
}

p.text-h5.font-rubik {
 font-family: 'Rubik', sans-serif !important;
}

.user-feedback {
 position: absolute;
 bottom: 10px;
 left: -20px;
 display: flex;
 width: 100%;
}

.box {
 position: absolute;
 width: 90%;
 background: rgba(51, 51, 51, 0.49);
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 border-bottom-right-radius: 10px;
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(2px);
 -webkit-backdrop-filter: blur(2px);
 border: 1px solid rgba(255, 255, 255, 0.3);
 padding: 1rem 1rem;
 bottom: 4.5rem;
 left: 4rem;
 color: white;
}

.border {
 border: 8px solid #ff9900f1;
 border-radius: 50%;
}

.img-header {
 border: 10px solid rgb(255, 255, 255);
}

.img-right {
 position: absolute;
 top: 0;
 right: 0;
 overflow: visible;
 margin-top: -120px;
 margin-right: 0px;
}

.heading {
 font-size: 4.6rem;
 position: relative;
 z-index: 2 !important;
}

.circular::before {
 content: '';
 position: absolute;
 top: -15px;
 left: -50px;
 width: 120px;
 height: 120px;
 border-radius: 50%;
 background-color: #ff990017;
 z-index: -1;
}

.orange-light {
 background-color: #FDF2EA !important;
}

/** Button */
.btn-glow {
 box-shadow: 0 0 10px 5px #ff99005d;
}

.btn-glow-blue {
 box-shadow: 0 0 5px 3px #3389df2d;
}

/** Utilities */
.v-tab {
 justify-content: flex-start !important;
}

.font-2x {
 font-size: 1.4rem;
}

.mt-20 {
 margin-top: 140px;
}

.mt-n20 {
 margin-top: -110px;
}

.w-75 {
 width: 75%;
}

.w-50 {
 width: 50%;
}

.vh-100 {
 height: 100vh;
}

.h-100 {
 height: 100%;
}

.lh-normal {
 line-height: 5.5rem;
}

.position-relative {
 position: relative !important;
}

.position-absolute {
 position: absolute !important;
}

.text-decoration-wavy {
 transition: all 250ms ease-in-out !important;
 text-decoration: none;
}

.text-decoration-wavy:hover {
 text-decoration: #3389df underline wavy !important;
}

.cursor-hover {
 cursor: pointer;
}

.Vue-Toastification__toast {
 box-shadow: none !important;
}

.v-rating .v-icon {
 padding: 0rem !important;
}


/* X-small device 
*/
@media (max-width: 575.98px) {
 .arrow-width {
  width: 650px;
  transform: rotate(90deg);
 }
}

/* Small device 
*/
@media (min-width: 576px) {

 .heading {
  font-size: 3.5rem;
 }

 .img-width {
  max-width: 320px;
 }

 .lh-normal {
  line-height: 4.5rem;
 }

 .lh-xsmall {
  line-height: 1.2rem !important;
 }

 .lh-small {
  line-height: 1.5rem !important;
 }

 .arrow-width {
  width: 650px;
  transform: rotate(90deg);
 }
}

/* Medium device 
*/
@media (min-width: 768px) {
 .heading {
  font-size: 3.7rem;
 }

 .lh-normal {
  line-height: 5rem;
 }

 .img-width {
  max-width: 360px;
 }

 .user-feedback {
  bottom: 15px;
  left: -10px;
 }

 .img-right {
  margin-top: -120px;
  margin-right: 0px;
 }

 .justify-md-left {
  justify-content: flex-start;
 }

 .arrow-width {
  width: 650px;
  transform: rotate(0deg);
 }

}

/* Large device 
 * Desktops
*/
@media (min-width: 992px) {
 .img-width {
  max-width: 400px;
 }

 .img-right {
  margin-top: -120px;
  margin-right: 0px;
 }

 .arrow-width {
  width: 690px;
  transform: rotate(0deg);
 }

 .heading {
  font-size: 4rem;
 }

}