@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.overflow-scroll {
 overflow-y: scroll;
}

.no-scrollbar {
 overflow: hidden !important;
}

.opacity-0 {
 visibility: hidden;
}

.overlay-loading {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100vh;
 z-index: 999;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: white;
 flex-direction: column;
}

.v-data-table>.v-data-table__wrapper>table>tbody>tr>th,
.v-data-table>.v-data-table__wrapper>table>thead>tr>th,
.v-data-table>.v-data-table__wrapper>table>tfoot>tr>th {
 font-size: .8rem !important;
}

.d-none {
 display: none !important;
}

.border-orange {
 border: 1px solid #f57c00 !important;
 border-radius: 10px;
}

/** Transition */
.overlay-top {
 z-index: 999;
 background: -webkit-linear-gradient(to right, #182848, #4b6cb7) !important;
 background: linear-gradient(to right, #182848, #4b6cb7) !important;
}

.fit-content {
 width: fit-content !important;
 margin-top: 6px;
 margin-left: 14px;
 padding: .7rem .7rem;
 background: rgba(255, 255, 255, 0.219);
 backdrop-filter: blur(5px);
 -webkit-backdrop-filter: blur(5px);
 border-radius: 15px;
}


.overlay-right {
 z-index: 999;
}

.overlay-bottom {
 z-index: 999;
}

.overlay-left {
 z-index: 999;
}

* {
 font-family: 'Rubik', sans-serif;
}

.navbar-fixed {
 position: fixed;
 top: 0;
 left: 0;
 z-index: 5;
 background: rgba(233, 233, 233, 0.3);
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(3px);
 -webkit-backdrop-filter: blur(3px);
 border-bottom: 1px solid rgba(255, 255, 255, 0.3);
 padding: 1rem 4rem;
}

.cursor-pointer {
 cursor: pointer;
}

input[type="file"] {
 display: none !important;
}

body {
 background-color: rgb(245, 245, 245) !important;
}

p.text-h5.font-rubik {
 font-family: 'Rubik', sans-serif !important;
}

.user-feedback {
 position: absolute;
 bottom: 10px;
 left: -20px;
 display: flex;
 width: 100%;
}

.box {
 position: absolute;
 width: 90%;
 background: rgba(51, 51, 51, 0.49);
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 border-bottom-right-radius: 10px;
 box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
 backdrop-filter: blur(2px);
 -webkit-backdrop-filter: blur(2px);
 border: 1px solid rgba(255, 255, 255, 0.3);
 padding: 1rem 1rem;
 bottom: 4.5rem;
 left: 4rem;
 color: white;
}

.border {
 border: 8px solid #ff9900f1;
 border-radius: 50%;
}

.img-header {
 border: 10px solid rgb(255, 255, 255);
}

.img-right {
 position: absolute;
 top: 0;
 right: 0;
 overflow: visible;
 margin-top: -120px;
 margin-right: 0px;
}

.heading {
 font-size: 4.6rem;
 position: relative;
 z-index: 2 !important;
}

.circular::before {
 content: '';
 position: absolute;
 top: -15px;
 left: -50px;
 width: 120px;
 height: 120px;
 border-radius: 50%;
 background-color: #ff990017;
 z-index: -1;
}

.orange-light {
 background-color: #FDF2EA !important;
}

/** GMAP */
.btn-setAddress {
 position: absolute;
 bottom: -22px;
 left: 50%;
 transform: translateX(-50%);
 z-index: 4;
}

.gmap-auto-complete {
 outline: none !important;
 padding: .6rem .8rem;
 width: 91%;
 margin-left: 1.4rem;
 border: 1px solid grey;
 border-radius: 3px;
}

.gmap-auto-complete:active {
 border: 1px solid #2196F3 !important;
}

/** Button */
.btn-glow {
 box-shadow: 0 0 10px 5px #ff99005d;
}

.btn-glow-blue {
 box-shadow: 0 0 5px 3px #3389df2d;
}

/** Utilities */
.v-tab {
 justify-content: flex-start !important;
}

.font-2x {
 font-size: 1.4rem;
}

.mt-20 {
 margin-top: 140px;
}

.mt-n20 {
 margin-top: -110px;
}

.w-75 {
 width: 75%;
}

.w-50 {
 width: 50%;
}

.vh-100 {
 height: 100vh;
}

.h-100 {
 height: 100%;
}

.lh-normal {
 line-height: 5.5rem;
}

.position-relative {
 position: relative !important;
}

.position-absolute {
 position: absolute !important;
}

.text-decoration-wavy {
 transition: all 250ms ease-in-out !important;
 text-decoration: none;
}

.text-decoration-wavy:hover {
 text-decoration: #3389df underline wavy !important;
}

.cursor-hover {
 cursor: pointer;
}

.Vue-Toastification__toast {
 box-shadow: none !important;
}

.v-rating .v-icon {
 padding: 0rem !important;
}

/** Store Information Styles **/
.store-preview {
 background: rgb(223, 223, 223);
 width: 100%;
 height: 240px;
 position: relative;
 border-radius: 8px;
 display: flex;
 align-items: center;
 padding-left: 1.8rem;
}

.store-preview--image {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 240px;
 object-fit: cover;
 filter: grayscale(20%) blur(1px);
 -webkit-filter: grayscale(20%) blur(1px);
 border-radius: 8px;
}

.store-preview--content {
 z-index: 2;
 padding-left: 2rem;
 margin-top: -5.2rem;
 /* position: absolute; */
}

.upload-image-logo {
 position: absolute;
 bottom: 12px;
 right: 15px;
 background: rgba(37, 91, 206, 0.979);
 border: 1px solid rgba(255, 255, 255, 0.39);
 border-radius: 50%;
 padding: 0.20rem 0.45rem 0.1rem 0.35rem;
 display: flex;
 align-items: center;
 backdrop-filter: blur(3px);
 -webkit-backdrop-filter: blur(3px);
 justify-content: center;
 transition: all 250ms ease-in-out;
}

.upload-image-logo:hover {
 background: rgba(27, 78, 187, 0.979);
}

.upload-image-banner {
 position: absolute;
 top: 12px;
 right: 15px;
 background: rgba(163, 163, 163, 0.603);
 border: 1px solid rgba(255, 255, 255, 0.39);
 border-radius: 50%;
 padding: 0.5rem 0.47rem 0.42rem 0.375rem;
 display: flex;
 align-items: center;
 backdrop-filter: blur(3px);
 -webkit-backdrop-filter: blur(3px);
 justify-content: center;
 transition: all 250ms ease-in-out;
}

.upload-image-banner:hover {
 background: rgba(179, 179, 179, 0.884);
}

.image-overlay {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 background: rgba(61, 61, 61, 0.4);
 height: 95px;
 backdrop-filter: blur(3px);
 -webkit-backdrop-filter: blur(3px);
 z-index: 2;
}

/* X-small device 
*/
@media (max-width: 575.98px) {
 .arrow-width {
  width: 650px;
  transform: rotate(90deg);
 }
}

/* Small device 
*/
@media (min-width: 576px) {

 .heading {
  font-size: 3.5rem;
 }

 .img-width {
  max-width: 320px;
 }

 .lh-normal {
  line-height: 4.5rem;
 }

 .lh-xsmall {
  line-height: 1.2rem !important;
 }

 .lh-small {
  line-height: 1.5rem !important;
 }

 .arrow-width {
  width: 650px;
  transform: rotate(90deg);
 }
}

/* Medium device 
*/
@media (min-width: 768px) {
 .heading {
  font-size: 3.7rem;
 }

 .lh-normal {
  line-height: 5rem;
 }

 .img-width {
  max-width: 360px;
 }

 .user-feedback {
  bottom: 15px;
  left: -10px;
 }

 .img-right {
  margin-top: -120px;
  margin-right: 0px;
 }

 .justify-md-left {
  justify-content: flex-start;
 }

 .arrow-width {
  width: 650px;
  transform: rotate(0deg);
 }

}

/* Large device 
 * Desktops
*/
@media (min-width: 992px) {
 .img-width {
  max-width: 400px;
 }

 .img-right {
  margin-top: -120px;
  margin-right: 0px;
 }

 .arrow-width {
  width: 690px;
  transform: rotate(0deg);
 }

 .heading {
  font-size: 4rem;
 }

}